
<!DOCTYPE html>
<html>
    <head>
        <title>
            Play
        </title>
    </head>
    <body>
        <figure>
            <audio controls src=<%=src%>></audio>
    </figure>
    </body>
</html>